<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <!-- navbar -->

    {{>navbar}}
    
    <!-- main page -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello There! This is Raunak Mishra </p>
                        <h1>I am a programmer <span class="text_color">Mern Stack Developer</span> & Problem Solver.</h1>
                        <a href="https://www.linkedin.com/in/raunak-mishra-026b94187/" target="_blank"><button>More About Me</button></a>
                    </div>
                    <!-- right  side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about_img.png" alt="raunak" class="img-fluid" title="Raunak Image" width="300px" height="300px">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Making footer  -->
    {{>footer}}
</body>
</html>